<script id="page-manifest" type="text/html" data-css="/pages/bitty-backyard/css/style.css" data-js="/pages/bitty-backyard/javascripts/script.js"></script>

<script id='tmpl-bitty-backyard' type='text/template'>

  <div class="row">
    <div class="bitty-wrap prefix_1 suffix_1">
      <div class="row header col_14">
        <div class="canadian-way"><%=canadianway %></div>
        <div class="heading">
          <h1><%=title %></h1>
        </div>
      </div>
      <div class="col_8">
        <section class="questions col_8">
          <h1><%=say.facebook %></h1>
          <h2><%=say.question %></h2>
          <ul class="answers">
            <li>
              <div class="answer">
                <p class="answer-copy"><%=say.answer1.answer%></p>
                <p class="author">
                  <span class="author-name"><%=say.answer1.name%></span><br>
                  <span class="author-location"><%=say.answer1.location%></span>
                </p>
              </div>
            </li>

            <li>
              <div class="answer">
                <p class="answer-copy"><%=say.answer2.answer%></p>
                <p class="author">
                  <span class="author-name"><%=say.answer2.name%></span><br>
                  <span class="author-location"><%=say.answer2.location%></span>
                </p>
              </div>
            </li>

            <li class="featured">
              <div class="answer">
                <p class="answer-copy"><%=say.answer3.answer%></p>
                <p class="author">
                  <span class="author-name"><%=say.answer3.name%></span><br>
                  <span class="author-location"><%=say.answer3.location%></span>
                </p>
              </div>
            </li>

            <li>
              <div class="answer">
                <p class="answer-copy"><%=say.answer4.answer%></p>
                <p class="author">
                  <span class="author-name"><%=say.answer4.name%></span><br>
                  <span class="author-location"><%=say.answer4.location%></span>
                </p>
              </div>
            </li>

            <li>
              <div class="answer">
                <p class="answer-copy"><%=say.answer5.answer%></p>
                <p class="author">
                  <span class="author-name"><%=say.answer5.name%></span><br>
                  <span class="author-location"><%=say.answer5.location%></span>
                </p>
              </div>
            </li>

            <li>
              <div class="answer">
                <p class="answer-copy"><%=say.answer6.answer%></p>
                <p class="author">
                  <span class="author-name"><%=say.answer6.name%></span><br>
                  <span class="author-location"><%=say.answer6.location%></span>
                </p>
              </div>
            </li>

          </ul>

          <p class="participate"><%=say.participate %></p>

        </section>

        <section class="must-haves col_8">
          <h1><%= must_haves.section%></h1>
          <h2><%= must_haves.title%></h2>
          <p><%= must_haves.body%></p>

          <ul class="products">
            <li class='product'>
            <img src="/pages/bitty-backyard/images/ctdc-2013-spring-product001.jpg" alt="<%= products.product001.title %>" data-product-pcode="<%= products.product001.pcode %>">
            <div class='anchor'>
              <div class='label'>
                <div class='about'><%= products.product001.description %></div>
                <div class='name'><%= products.product001.title %></div>
                <div class="price"><%= pageService.showProductPrice(products.product001) %></div>
              </div>
            </div>
            </li>
            <li class='product'>
            <img src="/pages/bitty-backyard/images/ctdc-2013-spring-product002.jpg" alt="<%= products.product002.title %>" data-product-pcode="<%= products.product002.pcode %>">
            <div class='anchor'>
              <div class='label'>
                <div class='about'><%= products.product002.description %></div>
                <div class='name'><%= products.product002.title %></div>
                <div class="price"><%= pageService.showProductPrice(products.product002) %></div>
              </div>
            </div>
            </li>
            <li class='product'>
            <img src="/pages/bitty-backyard/images/ctdc-2013-spring-product003.jpg" alt="<%= products.product003.title %>" data-product-pcode="<%= products.product003.pcode %>">
            <div class='anchor'>
              <div class='label'>
                <div class='about'><%= products.product003.description %></div>
                <div class='name'><%= products.product003.title %></div>
                <div class="price"><%= pageService.showProductPrice(products.product003) %></div>
              </div>
            </div>
            </li>
            <li class='product'>
            <img src="/pages/bitty-backyard/images/ctdc-2013-spring-product004.jpg" alt="<%= products.product004.title %>" data-product-pcode="<%= products.product004.pcode %>">
            <div class='anchor'>
              <div class='label'>
                <div class='about'><%= products.product004.description %></div>
                <div class='name'><%= products.product004.title %></div>
                <div class="price"><%= pageService.showProductPrice(products.product004) %></div>
              </div>
            </div>
            </li>
          </ul>

        </section>
      </div>


      <div class="col_6">
        <section class="featured-item col_6">
          <h1><%= featured.title %></h1>
          <p></p>

           <ul class="products">
            <li class='featured-product product'>
              <img src="/pages/bitty-backyard/images/ctdc-2013-spring-product000.png" alt="<%= products.product000.title %>" data-product-pcode="<%= products.product000.pcode %>">
              <div class='anchor'>
                <div class='label'>
                  <div><%= featured.caption %></div>
                  <div class='about'><%= products.product000.description %></div>
                  <div class='name'><%= products.product000.title %></div>
                  <div class="price"><%= pageService.showProductPrice(products.product000) %></div>
                </div>
              </div>
            </li>
          </ul>
        </section>


        <section class="expert-tips col_6 logo-mark">
          <h1><%= expert_tips.title %></h1>
          <h2><%= expert_tips.subtitle %></h2>

          <div class="tip-author">
            <p><%= expert_tips.expert.provided %><br>
              <span class="tip-author-name"><%= expert_tips.expert.name %></span><br>
              <span class="tip-author-title"><%= expert_tips.expert.title %></span>
            </p>
          </div>

          <ol class="tips">

            <li>
              <div class="tip-image"><img src="/pages/bitty-backyard/images/ctdc-2013-spring-tip1.jpg" alt=""></div>
              <div class="tip-copy">
                <h2><%= expert_tips.tip1.title %></h2>
                <div class="tip-body"><%= expert_tips.tip1.body %></div>
              </div>
            </li>

            <li>
              <div class="tip-image"><img src="/pages/bitty-backyard/images/ctdc-2013-spring-tip2.jpg" alt=""></div>
              <div class="tip-copy">
                <h2><%= expert_tips.tip2.title %></h2>
                <div class="tip-body"><%= expert_tips.tip2.body %></div>
              </div>
            </li>

            <li>
              <div class="tip-image"><img src="/pages/bitty-backyard/images/ctdc-2013-spring-tip3.jpg" alt=""></div>
              <div class="tip-copy">
                <h2><%= expert_tips.tip3.title %></h2>
                <div class="tip-body"><%= expert_tips.tip3.body %></div>
              </div>
            </li>

            <li>
              <div class="tip-image"><img src="/pages/bitty-backyard/images/ctdc-2013-spring-tip4.jpg" alt=""></div>
              <div class="tip-copy">
                <h2><%= expert_tips.tip4.title %></h2>
                <div class="tip-body"><%= expert_tips.tip4.body %></div>
              </div>
            </li>

            <li>
              <div class="tip-image"><img src="/pages/bitty-backyard/images/ctdc-2013-spring-tip5.jpg" alt=""></div>
              <div class="tip-copy">
                <h2><%= expert_tips.tip5.title %></h2>
                <div class="tip-body"><%= expert_tips.tip5.body %></div>
              </div>
            </li>

          </ol>

        </section>
      </div>
    </div>
  </div>

</script>


<div id="catalog-page" class="catalog-page">
</div> <!-- catalog page -->
