/**********************************************************************
 *
 * GRID GENERATORS
 * - utility functions used to layout the grid
 */

 //
// standard column definition
//
@mixin col($num, $col_width, $gutter_width)
  border: 0px solid rgba(0,0,0,0)
  border-right: $gutter_width solid rgba(0,0,0,0)
  width: $col_width * $num

  float: left

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  // -moz-background-clip: padding-box !important
  // -webkit-background-clip: padding-box !important
  // background-clip: padding-box !important

//
// standard box-padding for a content area
//
@mixin box-padding($box-padding-px)
  padding: $box-padding-px/2 $box-padding-px $box-padding-px $box-padding-px

//
// prefixes a number of columns as a lefthand margin
//
@mixin prefix($num, $col_width)
  margin-left: $num * $col_width

//
// post-fixes a number of columns as a lefthand margin
//
@mixin suffix($num, $col_width)
  margin-right: $num * $col_width

//
// column bleeds into the gutter
//
@mixin bleed
  border-right: 0 !important

.bleed
  @include bleed


//
// creates the css classes used to layout the grid:
// e.g. col_5, suffix_8, prefix_1, etc.
//
@mixin create-grid($columns, $column_width, $gutter_width)
  @for $i from 1 through $columns
    .col_#{$i}
      @include col($i, $column_width, $gutter_width)
    .prefix_#{$i}
      @include prefix($i, $column_width)
    .suffix_#{$i}
      @include suffix($i, $column_width)


/**********************************************************************
 *
 * CUSTOM CONTENT
 * - gets inserted into each media element for responsiveness
 */
@mixin custom-content($box-padding-px, $spacer_width, $col_width, $gutter_width)
  .box-padding-px
    @include box-padding($box-padding-px)
  #catalog-page > h1
    @include prefix(1, $col_width)
    @include col(16, $col_width, $gutter_width)

  .header
    @include bleed

    h1, h2
      clear: left
      @include col(8, $col_width, $gutter_width)
      padding: 0 $box-padding-px


  //
  // Questions
  //
  .questions
    @include bleed
    padding-bottom: $box-padding-px

    h1, h2
      padding: 0 $box-padding-px/2
      margin: $box-padding-px/2 0

  .answers
    padding: $box-padding-px/2 0

    li
      @include col(4, $col_width, $gutter_width)

      padding-left: $box-padding-px/2
      padding-right: $box-padding-px/2
      @include bleed
      // &:nth-child(odd)
      //   padding-left: $box-padding-px
      //   padding-right: $box-padding-px/2
      //   clear: both
      // &:nth-child(even)
      // padding-left: $box-padding-px/2
      // padding-right: $box-padding-px
      // @include bleed

    .featured
      clear: left
      .answer
        left: -3 * $spacer_width
        padding: $box-padding-px/2 $box-padding-px


  .questions-banner
    @include box-sizing(border-box)
    padding: $box-padding-px

    p
      bottom: $box-padding-px / 2


  //
  // Products
  //
  .must-haves
    @include bleed
    padding: $box-padding-px/2 0

    h1, h1 + p, h2, h2 + p
      padding: 0 $box-padding-px/2
    h2, h2
      margin: 0 0 0.23em
  .product-main
    padding-left: $box-padding-px
    .product-name
      width: $spacer_width * 9
  .product-mini
    margin-bottom: $box-padding-px/2


  //
  // Featured Items
  //
  .featured-item
    @include box-padding($box-padding-px)
    @include bleed

  .featured-product img
    right: -$spacer_width * 4


  //
  // Tips
  //
  .expert-tips
    @include bleed
    padding: $box-padding-px/2 0 0 0

    & > h1, & > h2
      padding: 0 $box-padding-px/2
    li
      margin-bottom: $box-padding-px

  .tip-image
    @include col(2, $col_width, $gutter_width)
  .tip-copy
    @include col(4, $col_width, $gutter_width)

/**********************************************************************
 *
 * MEDIA - < 1279px
 *
 */
#bitty-backyard
  @media screen and (min-width: 0px) and (max-width: 1279px)
    $columns: 16
    $spacer_width: 16px
    $gutter_width: 16px
    $box-padding-px: $spacer_width * 2
    $col_width: $spacer_width * 3 + $gutter_width

    @include custom-content($box-padding-px, $spacer_width, $col_width, $gutter_width)
    @include create-grid($columns, $col_width, $gutter_width)



  /**********************************************************************
   *
   * MEDIA - 1280+
   *
   */
  @media screen and (min-width: 1280px)
    $columns: 16
    $spacer_width: 20px
    $gutter_width: 20px
    $box-padding-px: $spacer_width * 2
    $col_width: $spacer_width * 3 + $gutter_width

    @include custom-content($box-padding-px, $spacer_width, $col_width, $gutter_width)
    @include create-grid($columns, $col_width, $gutter_width)