// $box-padding-px: 40px

$questions-bg-color: #0fa54b
$tips-bg-color: #212121
$page-bg-color: #87d2a5
$header-menu-offset: 38px
$featured-bg-color: #FFF
$featured-color: #000

/**
 * TODO: remove this once page system can handle scrolling
 * Scrolling hack
 */
#bitty-backyard
  background-color: $page-bg-color
  padding-top: $header-menu-offset

  #catalog-page
    height: 100%
    position: relative
    display: none

  .topshelf .page
    height: 100% !important


  //////////////////////////////////////////////////////////////////////
  //
  // Page Styles
  //

  .row
    float: left
  .bitty-wrap
    // height: 100%
    position: relative
    float: left
    background: #FFF
    margin-bottom: 100px
  .header
    background: url(../images/ctdc-2013-spring-header.jpg) no-repeat
    height: 330px // size of bg image
    position: relative
    color: #FFF

    .heading
      background: url(../images/ctdc-2013-spring-title.png) left top no-repeat
      width: 410px
      height: 200px
      text-indent: -9999em
      position: absolute
      bottom: -45px
      left: 180px

  h1, h2
    text-transform: uppercase

    span
      text-transform: lowercase
      font-style: italic


  .canadian-way
    text-transform: uppercase
    text-align: center
    color: #FFF
    @include text-shadow(0px 0px 5px #000)
    font-weight: bold
    margin-top: 10px
    font-size: 20px

  @mixin no-bullets
    list-style: none
    margin: 0
    padding: 0


  //////////////////////////////////////////////////////////////////////
  //
  // Questions
  //


  .questions
    background: $questions-bg-color
    color: #FFF

    h1
      color: $tips-bg-color
      font-size: 16px
    h2
      color: #FFF
      text-transform: none


  .answers
    @include no-bullets
    font-size: 16px

    li
      position: relative

    .featured
      min-height: 1px // otherwise layout collapses

      .answer
        font-size: 22px
        background-color: $tips-bg-color
        position: relative
        width: 100%

      .author
        color: $questions-bg-color


  .author
    color: $featured-color
    font-size: 14px

  .author-name
    font-weight: bold
  .author-location
    font-style: italic

  .participate
    font-size: 14px
    color: #000
    font-weight: bold
    margin-bottom: 0
    padding-right: 20px
    float: right
    width: 280px

    a
      font-weight: normal
      color: #000

  //////////////////////////////////////////////////////////////////////
  //
  // Products
  //
  .products
    @include no-bullets
    color: $tips-bg-color

    li
      position: absolute

    .price
      font-weight: bold
    .name
      font-style: italic

  .must-haves
    position: relative
    background: #FFF
    color: $questions-bg-color

    h1
      color: $tips-bg-color
      font-size: 16px
    h2
      font-size: 35px
      font-weight: bold




  //////////////////////////////////////////////////////////////////////
  //
  // Featured Item
  //
  .featured-item
    position: relative
    margin-top: -200px
    height: 540px

    background: $featured-bg-color
    color: $featured-color


    h1
      font-size: 35px

    .label // override label styles
      width: 200px !important
      top: 100px !important
      right: -195px !important
      text-align: left !important

    .about
      font-weight: bold
    .name
      font-style: italic

  .featured-product
    color: #000
    position: relative

    img
      position: relative


  //////////////////////////////////////////////////////////////////////
  //
  // Tips
  //
  .expert-tips

    h1
      color: #ed2228
      font-size: 16px

    h2
      font-size: 35px

    background: $tips-bg-color
    color: #FFF

    ol.tips
      @include no-bullets

    li
      float: left

    .tip-copy
      width: 300px

      h2
        margin-top: 0
        font-size: 20px
        font-weight: bold
        color: #FFF

    .tip-body
      font-style: italic

    .tip-image
      width: 180px
      height: 100px
      text-align: right

  .tip-author
    padding: 0 0 1.75em
    float: left

    p
      margin-top: 0
      padding: 0 20px
      text-align: left

  .tip-author-name
    font-weight: bold

  .tip-author-title, .tip-author-location
    color: #F00
    font-style: italic

  ////////////////////////////////////////////////////////
  //
  // product drawer
  //
  .product-drawer
    margin-top: 0 !important
